<!-- base.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} Reportáže F1 {% endblock %}</title>
</head>
<body>
    <header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">
                            {{ message }}
                            <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>F1 Blog</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Hlavní Stránka</a></li>
                <li><a href="{{ url_for('login') }}">Přihlášení</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>