{% extends "base.html" %}

{% block content %}
    <h1>Změnit heslo pro uživatele {{ username }}</h1>

    <form method="POST">
        <div class="form-group">
            <label for="new_password">Nové heslo:</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Změnit heslo</button>
    </form>

    <a href="{{ url_for('admin.list_users') }}" class="btn btn-secondary mt-3">Zpět na seznam uživatelů</a>
{% endblock %}
