<!--  -->
{% extends "base.html" %}
{% block title %} AutoBazar {% endblock %}
{% block content %}
    <div class="container">
    <p>Auto Bazar</p>
        <h1>Auta</h1>
        <p>
            Automobil (zkráceně auto, z řeckého αυτός autos, sám, a latinského mobilis, pohyblivý) je dvoustopé osobní nebo nákladní silniční motorové vozidlo. Oproti této definici se mezi automobily obvykle neřadí autobusy. Jedná se o jeden z mnoha dopravních prostředků. Rozdělují se dle druhu pohonu, např. parní stroj, dieselové, zážehové, elektro aj.
        </p>
    </div>
{% endblock %}