{% extends "base.html" %}
{% block content %}

{% block title %} Formular {% endblock %}

<form method="POST">
    <label>Uzivatelske jmeno
        <input type="text" name="username" placeholder="Vyplnte jmeno" required>
    </label>

    <label>
        password
        <input type="password" name="password" placeholder="heslo " required>
    </label>

    <label>
        Flask
        <input type="radio" value="Flask" name="Radio" required checked>
    </label>

    <label>
        PHP
        <input type="radio" value="PHP" name="Radio" required>
    </label>

    <label>
        Javascript
        <input type="radio" value="Javascript" name="Radio" required>
    </label>

    <input type="submit" value="Odeslat">
</form>

<!-- Sekce pro zobrazení odeslaných dat -->
{% if blog and email and radio %}
    <h2>Výsledky odeslání:</h2>
    <p><strong>Blog:</strong> {{ blog }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Vybraný jazyk:</strong> {{ radio }}</p>
{% endif %}

{% endblock %}