{% extends "base.html" %}

{% block content %}
<body>
    <h1>Seznam uživatelů</h1>

    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>Uživatelské jméno</th>
                    <th>Role</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>
                            <form action="{{ url_for('admin.delete_user', username=user[0]) }}" method="POST">
                                <button type="submit" class="btn btn-danger">Smazat</button>
                            </form>
                            <a href="{{ url_for('admin.change_password', username=user[0]) }}" class="btn btn-warning">Změnit heslo</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Žádní uživatelé nebyli nalezeni.</p>
    {% endif %}
</body>
{% endblock %}
